* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.titolo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px;
    padding: 20px;
    border: solid 2px;
}

div p {
    color: rgb(151, 152, 152);
}



main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.cards {

    width: 240px;
    border: solid 1px;
    min-height: auto;
    padding: 30px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}


.cards2 {

    width: 240px;
    border: solid 1px;
    min-height: auto;
    padding: 30px;
    background: rgb(88, 193, 225);
    border-radius: 20px;
    color: rgb(251, 249, 252);

}


.reco {

    color: rgb(251, 249, 252);
}

ul {
    list-style: none;
}

footer {
    margin: 10px;
    background: rgb(255, 255, 255);

}