* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.titolo {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    max-width: 900%;
    margin: 0 auto;
}

div p {
    color: rgb(151, 152, 152);
}

.div2 p {
    color: rgb(255, 255, 255);
}



main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 900%;
    margin: 0px auto;
    width: 100%;


}

.cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 240px;
    border: solid 1px;
    padding: 30px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.center .year1 {
    color: black;
}

.center .sconto {
    color: black;
    background-color: rgb(137, 139, 141);
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cards2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 240px;
    border: solid 1px;
    padding: 30px;
    background: rgb(88, 193, 225);
    border-radius: 20px;
    color: rgb(251, 249, 252);
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.price {
    text-align: center;
}

.numero {
    font-size: 30px;
}


.mo {
    font-size: 14px;
    color: #888;
}

.Choose {
    width: 170px;
    padding: 10px;
}


.flex .year2 {
    color: rgb(251, 249, 252);
    font-size: 13px;
}

.center p {
    color: rgb(1, 1, 1);
    font-size: 13px;
}

.reco {
    color: rgb(251, 249, 252);
}

ul {
    list-style: none;
}

footer {
    margin: 10px;
    background: rgb(255, 255, 255);
}